<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/create.css">
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="create">Create New Blog</a></li>
                <li><a href="update">View Your Blogs</a></li>
            </ul>
        </div>

        <div class="header1">
            <p id = "blog-heading">
                Create Your Blog
            </p>
        </div>
    
        <div class="main1">
            <textarea class = "textarea" placeholder="Title" name="title" id="title"></textarea>
            <button class = "newBtn" id="upload">Upload Blog</button>
        </div>
        <div class="footer-blog">
            <textarea class = "blog-textarea" placeholder="Write Your Blog" name="content" id="content"></textarea>
        </div>
    </div>
    <script src="/javascripts/create.js"></script>
</body>

</html>