<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="items" id="item-2"><a href="/index">Home</a></li>
            <li class="items" id="item-3"><a href="/create">Create</a></li>
            <li class="items" id="item-4"><a href="/update">Update and Delete</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="right">
            <div class="heading">
                <h1 id="heading">The BLOG</h1>
            </div>

            <div class="heading-content">
                
            </div>

        </div>
        <div class="left">
            <img class="typewriter" src="/stylesheets/laptop.webp" alt="typewriter">
        </div>
    </div>
    <div class="articles">
        <div class="article-description">
            <h1 id="featured-articles">Created Articles</h1>
        </div>
        <% for(i = data.allBlogs.length-1; i >= 0; i--){ %>
        <div class="article" id="article1">
            <div class="right1">
                <img class="article-image" src="/stylesheets/books.jpg" alt="">
            </div>
            <div class="left1">
                <h1 class="blog-topic"><a href="#"><%= data.allBlogs[i].title %></a></h1>
                <p><%= data.allBlogs[i].content %></p>
                <div class="article-bottom">
                    <span id="name">Author : <%= data.allBlogs[i].name %></span>
                    <span id="date">Date : <%= data.allBlogs[i].time %></span>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>